@model WeatherApp.Models.SearchModel

@{
    ViewBag.Title = "Search";
}

<h2>Weather Forecast for: @Html.DisplayFor(model => model.location)</h2>
<h3>@Html.DisplayFor(model => model.zipcode)</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.forecast)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.forecast)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.temperature)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.temperature) &#8457;
        </dd>

    </dl>
</div>

